td, th{
    border: 1px solid grey;
}

body{
    background-color: rgb(255,255,255);
}


.jumbotron{
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521447935647&di=015aa613f93e4235e03023c40beba3e9&imgtype=0&src=http%3A%2F%2Fdl.bizhi.sogou.com%2Fimages%2F2012%2F02%2F24%2F260976.jpg);
    background-size: cover;
    background-color: red;
}

.navbar{
    background-color: #4286f4;
    color: #fff;
    transition: all 0.3s;
}

blockquote {
  background: #f9f9f9;
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
    background-color: #eff1f2;
	}
pre code {
	line-height: 1.6em;
	font-size: 15px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 6px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
    background-color: #eff1f2;
	}
