{% extends "Blog/base.html" %}

{% block head_style_css %}
{% load static %}
    <link rel="stylesheet" href="{% static "Blog/css/blog_page_style.css" %}">
{% endblock %}

{% block content %}
<br>

<div id="blog_content" class="container col-sm-9">

    {% if user.is_superuser %}
        <a href="{% url 'blog:blog_update' pk=blog.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'blog:blog_delete' pk=blog.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}


    <!-- Blog正文内容 -->
    <div class="container">
        <div class="row justify-content-md-center">
            {# <div class="col-sm-9"> #}
                <h1 class="display-5 text-center font-weight-bold">{{ blog.title }}</h1>
                <p class="content-markdown">{{ blog.content }}</p>
            {# </div> #}
        </div>
    </div>

    <div class="container text-center">
        {% if already_like == True %}
            <a href="{% url 'like:click_like_button' pk=blog.pk %}"><img src="../../../static/Blog/images/button/like_btn_2.png" alt="" width="8%"></a>
        {% else %}
            <a href="{% url 'like:click_like_button' pk=blog.pk %}"><img src="../../../static/Blog/images/button/like_btn.png" alt="" width="8%"></a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'like:click_like_button' pk=blog.pk %}"><img src="../../../static/Blog/images/button/pay_btn.png" alt="" width="8%"></a>
    </div>


    <br><br>
    <hr style="border-top: dashed 1px;">
    <br>


    <!-- 评论 -->
    {% load widget_tweaks %}
    <p>
        {% if not user.is_authenticated %}
            {# （<a href="{% url 'users:user_login' %}">登录</a>后可以评论） #}
            （<a href="#" data-toggle="modal" data-target="#LoginModal">登录</a>后可以评论）
        {% else %}
                {% if user.is_superuser %}
                    <img style="float:left" src="/media/Blog/portraits/2f0e139da1099b8d5febf607ce3c3fe61495072461_large_xtqxrbE.png" alt="" class="img-thumbnail" width="60px" height="60px"><a href=""><small>  {{user}}</small></a>
                {% else %}
                <img style="float:left" src="{{ user_info.portrait.url }}" alt="" class="img-thumbnail" width="60px"><a href=""><small>  {{user}}</small></a>
                {% endif %}

                <form method="post" action="{% url 'comment:create_comment' pk=blog.pk %}">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {% if field.name == 'content' %}
                            <div class="form-group">
                                {% render_field field class="form-control" style="height:100px" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if  user.is_authenticated %}
                    <input type="submit" value="提交" class="btn btn-primary">
                    {% endif %}
                </form>
        {% endif %}
    </p>

    <div id="LoginModal" class="modal fade text-center">
        <div class="modal-dialog">
            <div class="col-lg-8 col-sm-8 col-12 main-section">
                <div class="modal-content">
                    <div class="col-lg-12 col-sm-12 col-12 user-img">
                        <img src="{% static 'Blog/images/logo/man.png' %}">
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                        <h1>User Login</h1>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form action="{% url 'users:user_login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12 link-part">
                        <a href="http://www.nicesnippets.com" target="_blank">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br><br>



    <!-- 评论区 -->
    <p class="lead">评论区</p>
        {% if comments.count == 0 %}
    <p>No Comments</p>
    {% else %}
    <div class="comment_area">
        {% load mptt_tags %}
        {% recursetree comments %}
        <br>
                <div id="comment_card">


                    <img style="float:left" src="{{ node.get_user_info.first.portrait.url }}" alt="" class="img-thumbnail" width="60px" height="60px">

                    <div class="card" style="">
                        <div class="card-header">
                            {{ node.get_user_info.first.user }} - <small>{{ node.create_date|timesince }} ago |<a class="comment-reply-btn" href="#"> Reply</a></small>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ node.content }}</p>
                        </div>
                    </div>

                    <div class="comment-reply" style="display:none">
                        <br>
                        <form method="post" action="{% url 'comment:create_comment' pk=blog.pk %}">
                            {% csrf_token %}
                            {% for field in comment_form.visible_fields %}
                                {% if field.name == 'content' %}
                                    <div class="form-group">
                                        {% render_field field class="form-control" style="height:100px" %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="hidden" name="parent_id" value="{{ node.id }}">
                            <input type="submit" value="提交" class="btn btn-primary">
                        </form>
                    </div>
                </div>

            {% if not node.is_leaf_node %}

             <div class="offset-md-1">
                {{ children }}
             </div>

            {% endif %}
        {% endrecursetree %}
    </div>
    {% endif %}






<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<!-- Marked CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.17/marked.js"></script>

<!-- 让Blog的文本变为Markdown -->
<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
        var content = $(this).text()
        var contentMarkdown = marked(content)
        $(this).html(contentMarkdown)
    })
    $(".content-markdown img").each(function(){
        $(this).addClass("img-fluid")
    })
})

$(".comment-reply-btn").click(function(event){
    event.preventDefault();
    $(this).parent().parent().parent().next(".comment-reply").fadeToggle();
})

$(".comment-reply-btn-inside").click(function(event){
    event.preventDefault();
    // $(this).parent().parent.next(".comment-reply").fadeToggle();
    $(this).parent().fadeToggle();
})

</script>

<script src="{% static 'Blog/script/jquery.bootstrap-autohidingnavbar.js' %}"></script>

<script>
  $("div.navbar.fixed-top").autoHidingNavbar();
</script>

{% endblock %}
