{% extends "Blog/base.html" %}

{% block head_style_css %}
{% load static %}
<link rel="stylesheet" href="{% static "Blog/css/list_page_style.css" %}">
{% endblock %} %}


{% block jumbotron_content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-white display-4">LifePro</h1>
            <hr>
            <p class="text-white">Life is better than yesterday</p>
        </div>
    </div>
{% endblock %}


{% block  content %}
{% if drafts.count == 0 %}
<p>no drafts</p>
{% endif %}
    {% for draft in drafts %}
        <a href="{{ draft.get_absolute_url }}">{{ draft.title }}</a>
        <br>
    {% endfor %}
{% endblock %}
